services:
  db:
    image: postgres:15
    container_name: odoo_db_19
    restart: always
    environment:
      - POSTGRES_USER=user1
      - POSTGRES_PASSWORD=useruser1
      - POSTGRES_DB=postgres
      - LANG=en_US.UTF-8
      - LC_ALL=en_US.UTF-8
    volumes:
      - odoo-db-data:/var/lib/postgresql/data
    networks:
      - app_network

  odoo:
    build:
      context: .
      dockerfile: Dockerfile
    image: odoo:19.0-custom
    container_name: odoo_app_19
    restart: always
    depends_on:
      - db
    ports:
      - "8069:8069"
      - "8071:8071"
    environment:
      - HOST=db
      - USER=user1
      - PASSWORD=useruser1
      - ADMIN_PASSWORD=AdminG@nt4ng
      - LANG=en_US.UTF-8
      - LC_ALL=en_US.UTF-8
    volumes:
      - odoo-data:/var/lib/odoo
      - ./addons:/mnt/extra-addons
      - ./oca/storage:/mnt/oca-storage
    networks:
      - app_network

volumes:
  odoo-data:
  odoo-db-data:

networks:
  app_network:
    driver: bridge